@media (max-width: 600px) {
  .cert-img > img {
    margin: 1.5rem 0 1.5rem 0;
    width: 100%;
    box-shadow: 0px 0px 2rem black;
  }
  .card {
    top: 35vh !important;
  }
  .col {
    padding: 0 0.5rem;
  }
  .carousel-item > img:hover {
    transform: scale(1.3);
  }
  .carousel-item > img {
    border-radius: 10px;
  }
}

/* prelaoder  */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: #2d2d5a;
  z-index: 99999;
}
/* The dot */
.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 160px;
  height: 100px;
  margin-top: -50px;
  margin-left: -80px;
  border-radius: 5px;
  background-color: #dc3545;
  transform-type: preserve-3d;
  animation: dot1 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.dot:nth-child(2) {
  z-index: 11;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  /* background-color: #3c617d; */
  background-image: url(/images/dp3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  animation-name: dot2;
}

.dot:nth-child(3) {
  z-index: 12;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background-color: #28a745;
  animation-name: dot3;
}

@keyframes dot1 {
  3%,
  97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }
  30%,
  36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }
  63%,
  69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}
@keyframes dot2 {
  3%,
  97% {
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
    background-size: 100%;
  }
  30%,
  36% {
    width: 70px;
    height: 96px;
    margin-top: -48px;
    margin-left: -35px;
    background-size: 140%;
  }
  63%,
  69% {
    width: 32px;
    height: 60px;
    margin-top: -30px;
    margin-left: -16px;
    background-size: 200%;
  }
}
@keyframes dot3 {
  3%,
  97% {
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
  }
  30%,
  36% {
    width: 8px;
    height: 8px;
    margin-top: 49px;
    margin-left: -5px;
    border-radius: 8px;
    background-color: #ffffff;
  }
  63%,
  69% {
    width: 16px;
    height: 4px;
    margin-top: -37px;
    margin-left: -8px;
    border-radius: 10px;
    background: #ffffff;
  }
}

@keyframes preloader-anim {
  0% {
    opacity: 1;
    display: block;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.9;
    display: block;
  }
  95% {
    opacity: 0.5;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: 0;
  }
}
#preload {
  animation: preloader-anim 4.5s forwards !important;
}

@keyframes overflow {
  0% {
    overflow: hidden;
  }
  90% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}

body {
  animation: overflow 2s linear forwards;
}

@keyframes brand-title-anim {
  0%,
  20% {
    color: #ffffff;
  }

  40%,
  60% {
    color: #dc3545;
  }

  80%,
  100% {
    color: #28a745;
  }
}
.brand-title {
  animation: brand-title-anim 3s ease forwards infinite;
}
