@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  background: cyan;
  position: relative;
}
::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  background: #2d2d5a;
}
::-webkit-scrollbar-thumb {
  border-radius: 60px;
  background: #dc3545;
}
::-webkit-scrollbar-thumb:hover {
  background: #8ed493;
}
#Navbar a:hover {
  color: #fff;
}
::-moz-selection {
  color: white;
  background: #8ed493;
}
::placeholder {
  color: rgb(45, 45, 90);
  font-weight: bolder;
}
::selection {
  color: white;
  background: #8ed493;
}
.brand-title {
  text-align: center;
  margin-top: 66vh;
  color: white;
}

#myVideo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.card {
  /* top: 400px; */
  top: 50vh;
  height: auto;
  /* opacity: 0.9; */
  margin-bottom: 50px;
  border-radius: 1rem;
  box-shadow: 0px 0px 40px rgb(59, 56, 56);
  background-color: rgba(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
}
#num1 > p,
#num2 > p,
#num3 > p {
  font-family: Arial, Helvetica, sans-serif;
}
.media > img {
  border-radius: 50%;
  margin: -120px auto 10px auto;
  align-self: center;
  opacity: 1;
  width: 12rem;
  box-shadow: 4px 4px 40px #000;
}
#dp:hover {
  transition: transform 0.6s;
  transform: scale(1.2);
}
.card > h1 {
  margin-top: 25px;
  align-self: center;
  text-shadow: 1px 3px 5px #505050;
  font-family: "Poppins", sans-serif;
}
#about > h5 {
  align-self: center;
  text-shadow: 0px 2px 3px grey;
}
/* cursor */
.txt-type > .txt {
  border-right: 0.1rem solid #777;
}
.card-footer {
  /* min-width: 348px; */
  border-radius: 60px !important;
  align-self: center;
  margin: 3rem 0px 2rem 0px;
  box-shadow: 0px 0px 10px #000;
  /* font-size: 0.5rem; */
}
[title~="Github"] {
  color: black;
}

[title~="Instagram"] {
  color: #e94868;
}

[title~="Twitter"] {
  color: #50abf1;
}
[title~="Facebook"] {
  color: #4867aa;
}
[title~="Linkedin"] {
  color: #0077b5;
}
[title~="Whatsapp"] {
  color: #28a745;
}

.navbar > a > h3 {
  box-shadow: 0px 0px 8px #000;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  word-wrap: break-word;
  border-top: 0px solid #dee2e6;
}
td,
td > a,
td > a:hover {
  text-decoration: none;
  color: white;
}
.table-responsive {
  overflow-x: auto;
  border: 0;
  height: 15rem;
}
.tbody {
  position: absolute;
  margin: 0 auto 0 50%;
  transform: translateX(-61%);
}
.media-body {
  border: 0.1px solid;
  margin-top: 1rem;
  border-radius: 25px;
  background-color: rgb(45, 45, 90);
  box-shadow: 0px 0px 20px #000;
}
#num1 {
  margin-bottom: 50px;
}
#num1 > h3,
#num2 > h3,
p {
  color: #fff;
}
#num2 {
  margin: auto;
}
/* skills */
.progress-bar {
  width: 0;
  animation: progress 1.5s ease-in-out 1s forwards;
}
.title {
  opacity: 0;
  animation: show 1s forwards ease-in-out 1.5s;
}
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* experience */

#experience img {
  width: 12rem;
}

/* projects */
.project-title {
  font-size: 1.5rem;
}
.project-title:hover,
.project-title ~ p:hover {
  color: #28a745 !important;
  cursor: pointer;
  transition: 0.5s;
}
.project-title + p {
  font-size: 1rem;
}
.fa-github:hover,
.fa-globe:hover {
  background-color: #28a745;
  /* text-shadow: 0px 0px 10rem #28a745; */
  border-radius: 60px !important;
  transition: 1s;
}

/* --- certifications --- */
/* .cert-img {
  text-align: center;
} */
.carousel-item {
  text-align: center;
}
/* .cert-img > img {
  margin: 1.5rem 0 1.5rem 0;
  width: 80%;
  box-shadow: 0px 0px 2rem black;
} */
.carousel-item img {
  margin: 1.5rem 0 1.5rem 0;
  width: 80%;
  box-shadow: 0px 5px 20px grey;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 2rem;
  width: 2rem;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 60px;
  border: 2px solid black;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 1rem;
  font-weight: 800;
  color: #2d2d5a;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 1rem;
  font-weight: 800;
  color: #2d2d5a;
}
.carousel-indicators li {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 60%;
  background-color: #2d2d5a;
}
.carousel-indicators .active {
  background-color: #000;
}
/* ----- testimonials ----- */
.testimonials .item {
  background: #fff;
  padding: 1rem 8rem;
  border-radius: 15px;
}
.testimonials .item .profile {
  display: flex;
  padding-left: 15px;
}
.testimonials .item .profile img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
  box-shadow: none;
}
.testimonials .item .profile .information p {
  font-size: 24px;
  margin: 0px auto 0px;
  color: #5a3733;
  font-weight: 900;
  line-height: 1;
  text-shadow: none;
}
.testimonials .item p {
  color: black;
  font-style: italic;
  font-weight: bold;
}
.testimonials .item .icon {
  text-align: center;
  margin-bottom: 2rem;
}
.testimonials .item i {
  font-size: 32px;
  color: #ffd832;
}
.testimonials .card-footer {
  margin: 0rem;
}

/*--------- forms --------- */

form {
  width: fit-content;
  margin: auto;
  /* margin-top: 50px; */
  margin-bottom: 50px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: auto;
  padding: 15px 30px;
  border: none;
  border-bottom: 1px solid rgb(105, 231, 221);
  transition: all 0.5s;
  font-size: 16px;
  background-color: rgb(147, 221, 129);
  border-radius: 20px;
  outline: none;
  text-align: center;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  box-shadow: 0px 0px 15px white;
  background-color: white;
}

form input {
  margin-top: 10px;
}
form label {
  font-family: sans-serif;
  font-size: 16px;
}
form select {
  width: 95%;
  padding: 15px 30px;
  margin-top: 20px;
  border: 1.2px solid rgb(224, 224, 224);
  transition: all 0.6s;
  border-radius: 6px;
  font-size: 16px;
  font-family: sans-serif;
}
form select:focus {
  outline: none;
  border: 1.3px solid;
}
select option {
  padding: 15px;
}
button {
  border-radius: 6px;
  padding: 15px 30px;
  font-size: 16px;
  font-family: sans-serif;
  margin: auto;
  display: block;
  width: 100%;
  transition: all 0.2s;
  text-decoration: none;
}
button:hover {
  color: green;
  cursor: pointer;
}
.modal-content {
  text-align: center;
  border-radius: 15px;
  color: rgb(45, 45, 90);
  background-color: white;
}
#contact {
  margin-bottom: 5rem;
}
.fa-download {
  font-size: 1.2rem;
}
#dwn-resume .btn {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #28a745;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 15rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

#dwn-resume .btn:hover {
  background-color: #ffffff;
  text-decoration: none;
  color: #28a745;
}

#dwn-resume .btn-1 {
  font-weight: 400;
}

#dwn-resume .btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#dwn-resume .btn-1 rect {
  fill: none;
  stroke: #28a745;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}

#dwn-resume .btn-1:hover {
  letter-spacing: 1px;
}

#dwn-resume .btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

#queryForm .modal-header {
  background-color: #28a745;
  color: white;
}
#queryForm .modal-header span {
  color: white;
}
#queryForm input {
  width: 100%;
}
#queryForm input[type="submit"] {
  width: 60%;
  padding: 0.7rem 1rem;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #28a745;
  color: white;
  box-shadow: 0px 0px 10px #858585;
}
#queryForm input[type="submit"]:active {
  box-shadow: 0px 0px 30px white;
}
#queryForm .modal-content {
  box-shadow: 0px 0px 50px white;
  border-radius: 30px;
}
#queryForm .modal-header {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#queryForm .modal-body {
  background-color: #2d2d5a;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
